/*  your css code here. If applicable */
/* Body Styling */
body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  background-color: #011e29;
  color: white;
  text-align: center !important;
  padding: 20px;
}


/* Layout Container */
.container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

/* Latest News */
.latest-news-section {
  background-color: white;
  padding: 20px;
  width: 20%;
  border-radius: 15px;
}

.latest-news-section ul {
  padding-left: 20px;
}

/* Main Article */
.main-article-section {
  background-color: white;
  padding: 20px;
  width: 40%;
  border-radius: 15px;
  text-align: center;
}

/* Pictorial News */
.pictorial-news-section {
  background-color: white;
  padding: 20px;
  width: 20%;
  border-radius: 15px;
  text-align: center !important;
}

.pictorial-news-section img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
